.container {
    display: inline-block;
    margin:  0 24px 24px 0;
    min-width: 94%;
}

.container img {
    height: 100%;
    transition: .4s;
}

.container a {
    text-decoration: none;
}

.container a:focus img {
    transform: scale(1.02);
}
