.container {
    display: inline-block;
    margin-bottom: 24px;
    width: 100%;
}

.container img {
    height: 100%;
    transition: .4s;
    max-height: 500px;
}

.container a {
    text-decoration: none;
    transition: .4s;
}

.container a:hover,
.container a:focus {
    opacity: .7;
}

.container a:focus img,
.container a:hover img {
    transform: scale(1.02);
}
