.container {
    padding: 16px;
    background-color: #291205;
    border-radius: 8px;
    z-index: 10;
    color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.69);
}

.error {
    background-color: #291205;
}

.success {
    background-color: #071F07;
}
