.container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.img {
    position: absolute;
    width: auto;
    max-height: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
