.article {
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1;
    background: var(--background-main-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding-top: 40px;
}
